<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/layout/css/layout.css" />
    <link rel="stylesheet" href="/static/profile/css/profile.css" />
    <script src="https://kit.fontawesome.com/35394f46a8.js" crossorigin="anonymous"></script>
    <script type="module" src="/static/layout/js/layout.js"></script>
</head>
<body>
    <input type="hidden" id="user-name" value="{{.username}}"/>
    <header-component></header-component>
    <main role="main" class="d-flex flex-column flex-nowrap position-relative">
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block collapse text-dark min-vh-100">
                    <sidebar-component></sidebar-component>
                </nav>
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-8">
                                <h1 class="text-center fw-bold fs-1"> User </h2>
                                    <form method="POST">
                                        <h4> User Information </h4>
                                        <div class="form-group row my-3">
                                            <div class="col">
                                                <label for="firstName" class="form-label">First Name</label>
                                                <input id="firstName" name="first_name" class="form-control font-weight-light" placeholder="{{ .first_name}}" autocomplete="off" />
                                                <span class="text-danger font-weight-light"></span>
                                            </div>
                                            <div class="col">
                                                <label for="lastName" class="form-label">Last Name</label>
                                                <input id="lastName" name="last_name" class="form-control font-weight-light" placeholder="{{ .last_name}}" autocomplete="off" />
                                                <span class="text-danger font-weight-light"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row my-3">
                                            <div class="col">
                                                <label for="email" class="form-label"> Email </label>
                                                <input type="email" id="UserEmail" name="email" class="form-control font-weight-light" placeholder="{{ .email}}" autocomplete="off" />
                                                <span class="text-danger font-weight-light"></span>
                                            </div>
                                            <div class="col">
                                                <label for="username" class="form-label"> Username </label>
                                                <input id="username" name="username" class="form-control font-weight-light" placeholder="{{ .username}}" autocomplete="off" />
                                                <span class="text-danger font-weight-light"></span>
                                            </div>
                                            <div class="col">
                                                <label for="role" class="form-label"> Role </label>
                                                <input id="role" name="role" class="form-control font-weight-light" placeholder="{{ .role}}" autocomplete="off" />
                                                <span class="text-danger font-weight-light"></span>
                                            </div>
                                        </div>
                                        <div class="form-group my-3">
                                            <label for="userPhone" class="form-label"> Phone Number </label>
                                            <input id="userPhone" name="phone_number" class="form-control font-weight-light" placeholder="{{ .phone_number}}" autocomplete="off" />
                                            <span class="text-danger font-weight-light"></span>
                                        </div>
                                        <div class="form-group my-3">
                                            <label for="address" class="form-label"> Address </label>
                                            <input id="address" name="address" class="form-control font-weight-light" placeholder="{{ .address}}" autocomplete="off" />
                                            <span class="text-danger font-weight-light"></span>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-lg btn-outline-primary text-white w-100"> Update </button>
                                    </form>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </main>
    <footer-component></footer-component>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
