<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/layout/css/layout.css" />
    <script src="https://kit.fontawesome.com/35394f46a8.js" crossorigin="anonymous"></script>
    <script type="module" src="/static/layout/js/layout.js"></script>
</head>
<body>
    <input type="hidden" id="user-name" value="{{.name}}"/>
    <header-component></header-component>
    <main role="main" class="d-flex flex-column flex-nowrap position-relative mb-5">
        <section class="background-overlay mt-5">
            <div class="background-overlay__image"></div>
            <div class="container">
                <h1 class="text-center fw-bold fs-1">Welcome to Xybor space {{ .name }}</h2>
                <div class="mt-5 mb-5">
                    <p class="text-center">
                        We are the team who have passion with technology and want to change the lives better.
                    </p>
                    <p class="text-center">
                        Technology changes live, mindset changes every things.
                    </p>
                </div>
                <p class="fw-medium fs-3 text-center">
                   Find out more about us on github
                </p>
                <div class="d-flex justify-content-evenly flex-column flex-md-row">
                    <a target="_blank" class="btn btn-lg btn-primary rounded-0 text-white px-4 my-2" href="https://github.com/huykingsofm" rel="noopener">
                        huykingsofm
                    </a>
                    <a target="_blank" class="btn btn-lg btn-primary rounded-0 text-white px-4 my-2" href="https://github.com/tuanhm11299" rel="noopener">
                        tuanhm11299
                    </a>
                    <a target="_blank" class="btn btn-lg btn-primary rounded-0 text-white px-4 my-2" href="https://github.com/sangvhh" rel="noopener">
                        sangvhh
                    </a>
                </div>
                <p class="fw-medium fs-3 text-center mt-5">
                    Our organization
                 </p>
                <div class="d-flex justify-content-evenly flex-column flex-md-row">
                    <a target="_blank" class="btn btn-lg btn-primary rounded-0 text-white px-4 my-2" href="https://github.com/xybor" rel="noopener">
                        xybor
                    </a>
                    <a target="_blank" class="btn btn-lg btn-primary rounded-0 text-white px-4 my-2" href="https://github.com/xybor-x" rel="noopener">
                        xybor-x
                    </a>
                    
                </div>
            </div>
        </section>
    </main>
    <footer-component></footer-component>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
